<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="stylesheets/base.css" />
	
	<script src="javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/TouchSlide.1.1.js" type="text/javascript" charset="utf-8"></script>
	<title>首页</title>
</head>
<body>
	<div class="c-container-body">
		<div class="c-header-btn">
			<!--<div class="c-location-address">广州市</div>-->
			<div class="c-search-input">
				<input type="text" placeholder="品牌、形象、敞篷等"/>
			</div>
		</div>
		<div class="c-ad-banner" id="c-banner">
			<div class="bd">
				<ul>
					<li>
						<img src="images/9006999815.jpg" alt="this is imageURL" />
					</li>
					<li>
						<img src="images/9006397801.jpg" alt="this is imageURL" />
					</li>
					<li>
						<img src="images/9004439229.jpg" alt="this is imageURL" />
					</li>
				</ul>
			</div>
		</div>
		<div class="c-aclick-btn" onclick="window.location.href='/car_garage?click=object[20]'">
			一键租车
		</div>
		<div class="c-carhot-context">
			<span class="c-title">
				热门车型
			</span>

			<div class="c-garage-context">
				<ul>
					<li>
						<div class="c-carhot-img">
							<img src="images/9001537881.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>顶级配置</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9002406832.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>敞篷豪车</small>
							<small>五座</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9004439229.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>顶级配置</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9004439229.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>敞篷豪车</small>
							<small>五座</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9004439229.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>敞篷豪车</small>
							<small>五座</small>
							<small>豪华</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="c-active-item">
			<span class="c-title">
				活动资讯
			</span>
			<ul>
				<li>
					<div class="c-active-img">
						<img src="images/9004439229.jpg"/>
					</div>
					<div class="c-active-doc">
						<p>当你拥有一辆兰博基尼的时候是什么感受</p>
						<span>发布时间：2018-08-30</span>
					</div>
				</li>
				
				<li>
					<div class="c-active-img">
						<img src="images/9004439229.jpg"/>
					</div>
					<div class="c-active-doc">
						<p>当你拥有一辆兰博基尼的时候是什么感受</p>
						<span>发布时间：2018-08-30</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="menu">
			<ul>
				<li class="active">首页</li>
				<li onclick="window.location.href='/car_garage?click=object[20]'">车库</li>
				<li>客服</li>
				<li>我的</li>
			</ul>
		</div>
	</div>
	<script src="javascripts/base.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>