<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="stylesheets/base.css" />

		<script src="javascripts/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/TouchSlide.1.1.js" type="text/javascript" charset="utf-8"></script>
		<title>车库</title>
	</head>

	<body>
		<div class="c-container-body">
			<div class="c-header-btn c-border">
				<div class="c-garage-top">	
					<span class="c-location-address c-garage-right" id="c-tor">排序</span>
					<span class="c-location-address c-garage-right" id="c-screen">筛选</span>
				</div>
				<div class="c-garage-tor-menu">
					<div class="c-garage-stor"style="display: none;" data-bool="false">
						<p class="c-sort">默认排序</p>
						<p class="c-sort">价格从低到高</p>
						<p class="c-sort">价格从高到低</p>
					</div>
					<div class="c-garage-screen"style="display: none;"data-bool="false">
						<ul>
							<li>
								<span>价格区间(元)</span>
								<div class="c-screen-section">
									<input type="text" placeholder="最低价" />
									<input type="text" placeholder="最高价" />
								</div>
							</li>
							<li>
								<span>车辆类型</span>
								<div class="c-screen-section">
									<small class="c-item-action">不限</small>
									<small>跑车</small>
									<small>商务</small>
									<small>SUV</small>
								</div>
							</li>
							<li>
								<span>座位数</span>
								<div class="c-screen-section">
									<small class="c-item-action">不限</small>
									<small>2座</small>
									<small>5座</small>
									<small>7座</small>
								</div>
							</li>
							<li>
								<span>其他</span>
								<div class="c-screen-section">
									<small class="c-item-action">不限</small>
									<small>敞篷</small>
									<small>个性</small>
								</div>
							</li>
						</ul>
						<div class="c-hr">
							
						</div>
						<div class="c-rmb-submit">
							<span>重置</span>
							<span>确认</span>
						</div>
					</div>
				</div>
			</div>
			<div class="c-container-content">
				<div id="c-active-btn">
					<ul>
						<li>
							<span style="background: url(images/62217527.png) no-repeat center center;background-size: 160%;">
								<small>
									所有车型
								</small>
							</span>
							<span  style="background: url(images/55566140.png) no-repeat center center;background-size: 160%;">
								<small>
									兰博基尼
								</small>
							</span>
							<span  style="background: url(images/103471680.png) no-repeat center center;background-size: 160%;">
								<small>
									法拉利
								</small>
							</span>
							<span  style="background: url(images/38943766.png) no-repeat center center;background-size: 160%;">
								<small>
									劳斯莱斯
								</small>
							</span>
							<span  style="background: url(images/55566140.png) no-repeat center center;background-size: 160%;">
								<small>
									宾利
								</small>
							</span>
							<span>
								<small>
									阿斯顿马丁
								</small>
							</span>
							<span>
								<small>
									路虎
								</small>
							</span>
							<span>
								<small>
									玛莎拉蒂
								</small>
							</span>
							<span>
								<small>
									奔驰
								</small>
							</span>
							<span>
								<small>
									宝马
								</small>
							</span>
						</li>
						<li>
							<span>
								<small>
									所有车型
								</small>
							</span>
							<span>
								<small>
									兰博基尼
								</small>
							</span>
							<span>
								<small>
									法拉利
								</small>
							</span>
							<span>
								<small>
									劳斯莱斯
								</small>
							</span>
							<span>
								<small>
									宾利
								</small>
							</span>
							<span>
								<small>
									阿斯顿马丁
								</small>
							</span>
							
						</li>
					</ul>
				</div>
			</div>
			<div class="c-garage-context">
				<ul>
					<li>
						<div class="c-carhot-img">
							<img src="images/9001537881.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>顶级配置</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9001537881.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>敞篷豪车</small>
							<small>五座</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9001537881.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>顶级配置</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9001537881.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>敞篷豪车</small>
							<small>五座</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
					<li>
						<div class="c-carhot-img">
							<img src="images/9001537881.jpg" alt="this is imageURL"/>
						</div>
						<div class="c-carhot-text">
							<h3>宾利  欧陆 GT V8 S 敞篷</h3>
							<small>敞篷豪车</small>
							<small>五座</small>
							<small>豪华</small>
							<p>￥ 5500/天</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="menu">
				<ul>
					<li onclick="window.location.href='/car_index?click=object[20]'">首页</li>
					<li  class="active" >车库</li>
					<li>客服</li>
					<li>我的</li>
				</ul>
			</div>
		</div>
		<div class="goback" onclick="window.location.href='/car_index'">
			
		</div>
		<script src="javascripts/base.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>