<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
</head>

<body>
    <h3> 来自<%= name %> 咨询：</h3>
    <h5>① <%= phone %> </h5>
    <h5>② <%= email %> </h5>
    <span>③ <%= message %> </span>
</body>

</html>